#jukebox {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.buttons{
  width: 50px;
  height: 45px;
  cursor: pointer;
  float: left;
}
#backBtn{
  background-image: url(images/backbutton.png);
}
#playBtn{
  background-image: url(images/playbutton.png);
}
#pauseBtn{
  background-image: url(images/pausebutton.png);
}
#nextBtn{
  background-image: url(images/nextbutton.png);
}
